table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 965px;
    font-size: small;
    width: 965px;
    font-size: small;
}

body {
    font-family: sans-serif;
}

table,
th,
td {
    border: 1px solid black;
    text-align: left;
    padding: 0;
    padding: 8px;
}

#structure1 {
    margin-left: 50%;
    margin-left: 14.4%;
    width: 300px;
    border: 2px solid black;
    display: inline-block;
    vertical-align: top;
}

#headingHeight {
    height: 20px;
}

#tableHeight {
    height: 100px;
    background-color: #ccc;
}

#firstRow {
    display: block;
    border: none;
    height: 100px;
}

#sideStruct {
    margin-left: 5px;
    border: 1px dashed black;
    margin-bottom: 5px;
    display: inline-block;
    padding: 0px;
    margin-top: 85px;
}

#innerStruct1 {
    text-align: left;
    padding: 10px 10px 9px 10px;
}

#secondRow {
    height: 115px;
}

#innerStruct2 {
    width: 50px;
    margin: 10px 0px 0px 65px;
    padding: 10px 108px 10px 10px;
    text-decoration: underline;
    background-color: yellow;
    border: 2px solid black;
}

#innerBox1 {
    padding-right: 54px;
    display: inline-block;
    margin-left: 21%;
    border: 2px solid black;
    padding-bottom: 10px;
    font-weight: 100;
}

#innerBox2 {
    padding: 22px 0px 0px 0px;
}

#span1 {
    margin-top: 0px;
    margin-left: 10px;
    padding: 10px;
    background-color: yellow;
    padding-right: 109px;
    border: 2px solid black;
    border-right: 0px;
}

#span2 {
    border: 2px solid black;
    padding: 10px 17px 10px 0px;
}

#innerBox3 {
    margin-top: 11px;
    margin-left: 72px;
    border: 2px solid black;
    width: 150px;
    padding: 10px;
}